services:

  stamp-webservices:
    image: docker.io/library/node:22-slim
    container_name: stamp-webservices
    restart: unless-stopped
    network_mode: "host"
    environment:
      - APP_PORT=9005                          # internal port configurable
      - DB_HOST=localhost                      # host DB by default
      - DB_PORT=3306                           # default MariaDB port
      - DB_NAME=${DB_NAME:-mysql}
      - DEBUG="redis:* node server.js"
      - SESSION_SECRET=STAMPWEB
      - NODE_ENV=production
      - REDIS_HOST=localhost
      - REDIS_PORT=6379
      - TZ=America/New_York
    ports:
      - "${APP_PORT:-9005}:${APP_PORT:-9005}"  # external port configurable, default 9005
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${CONFIG_PATH:-./config}:/tmp/config    # mount configuration files
      - ./stage/stamp-web.tgz:/stamp-web/stamp-web.tgz                   # mount your tarball
      - ./logs:/stamp-web/logs
    working_dir: /stamp-web
    command: >
      sh -c "
        cd /stamp-web &&
        mkdir -p /stamp-web/config &&
        tar -xf stamp-web.tgz --exclude='config/application.json' &&
        cp -rf /tmp/config/* /stamp-web &&
        node app/server/server-manager.js \
        --database ${DB_NAME:-mysql} \
        --httpOnly \
        --cpu ${CPU_SIZE:-4} \
        --port ${APP_PORT} \
        --session_type=redis \
        --session_secret=${SESSION_SECRET}
        --sql_logger trace > logs/server-manager-$(date +\"%FT%H%M%S\").log
      "
    depends_on:
      - redis

  redis:
    image: docker.io/library/redis:7-alpine
    container_name: redis
    network_mode: "host"
    environment:
      - TZ=America/New_York
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - redis_data:/data

volumes:
  redis_data: {}
